.heading1 {
    width: 21%;
    text-align: center;
    color: #2f4f4E;
    font-size: 40px;
    font-weight: bolder;
    margin: 20px 0;
}

.product {
    display: flex;
    justify-content: center;
    /* gap: 20px; */
    /* border: 1px solid red; */
    width: 100%;
    height: 40rem;
    padding: 10px;
}

.imgs {
    /* border: 1px solid black; */
    width: 40%;
    display: grid;
    grid-template-columns: repeat(5, 100px);
    justify-content: center;
    gap: 3px;
}

.detail {
    /* border: 1px solid black; */
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 30px;


}

.img {
    width: 60%;
    height: 30rem;
    position: relative;
    left: 14%;
    /* height: 100%; */
    grid-column: 1/6;
    border: 5px dashed black;
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.more {
    width: 100px;
    height: 7rem;
    border: 1px solid black;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

}

.addimages {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 1px dashed black;
}

.f45 {
    font-size: 45px;
}

.controls {
    display: flex;
    justify-content: space-between;
    width: 92%;
}

.icon {
    display: flex;
    width: 15%;
    justify-content: space-between;
}

.voc {
    border: 1px solid #2f4f4E;
    color: #FEA500;
    padding: 5px;
    font-size: 20px;
    width: 30%;
}

.bot-buttons {
    border-bottom: 1px solid #2f4f4E;
    border-radius: 10px;
    padding: 5px;

}

.color {
    font-size: 25px;
    margin-bottom: 10px;
}

.colors {
    display: flex;
    gap: 20px;
}

.colors div {
    width: 40px;
    height: 40px;
    border-radius: 7px;
    font-size: 25px;
    color: white;
}

.q {
    padding: 0 10px;
    font-size: 30px;
}

.quantity {
    display: flex;
    font-size: 30px;
    align-items: center;

}

/* .extras {} */

.extras div {
    display: flex;
    justify-content: space-between;
    font-size: 20px;

}

.extras div div {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.product-desc {
    display: grid;
    grid-template-columns: 10% 50% 20%;
    justify-content: center;

}

.description-reviews {
    grid-column: 1/3;
    padding-right: 60px;
}

.h {
    font-size: 25px;
    margin-bottom: 20px;
    border-bottom: 1px solid #2f4f4E;
    height: 3rem;
}

.reviews {
    display: grid;
    grid-template-columns: 10% 50% 20%;
    justify-content: center;

}

.r-heading {
    grid-column: 1/3;
}

.figure {
    text-align: center;
}

.reviews-number {
    font-size: 55px;
}

.l2 {
    height: 5rem;
}

.bar {
    width: 89%;
    height: 20px;
    background: silver;
    margin: 5px 0;
}


.textim {

    display: grid;
    grid-template-columns: 21% 50%;
    justify-content: center;

}

.profile {
    /* border: 1px solid red; */
    /* background-color: silver; */
    display: flex;
    gap: 30px;
    margin-bottom: 10px;
}

.text {
    /* border: 1px solid black; */
    margin-bottom: 10px;


}

.profile-name {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.shipping {
    display: grid;
}