@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Bagel Fat One', cursive;
}

body {
    background: #F1F1FA;
    width: 100%;
}
.navigation {
    display: grid;
    grid-template-columns: 15% 60% 25%;

}


.pane {
    /* border-right: 1px solid silver; */
    height: 100vh;
    display: flex;
    align-items: center;
}

.contentofpane {
    /* background: #000; */
    border-right: 1px solid silver;
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.contentofmain {
    /* background: #000; */
    border-right: 1px solid silver;
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    gap: 20px;
}

.name {
    font-size: 35px;
}

.options {
    /* background: #000; */
    /* border: 1px solid silver; */
    cursor: pointer;
    height: 30%;
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.options div {
    display: flex;
    justify-content: space-between;
    
}
.optionnames {
    text-align: left !important;
    width: 70px;
}
.logout {
    width: 50%;
    cursor: pointer;
}

.main {
    border-right: 1px solid silver;
}

.head {
    width: 90%;
    height: 10%;
    /* border: 1px solid silver; */
    display: flex;
    justify-content: space-between;
}

.heading {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid silver; */
    height: 100%;
    width: 32%;
    
}
.links {
    /* border: 1px solid silver; */
    height: 100%;
    width: 12%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.links div{
    /* border: 1px solid silver; */
    border-radius: 10px;
    height: fit-content;
    /* padding: 5px; */

}
.segment {
    width: 90%;
    overflow-y: scroll;
    
    /* border: 1px solid silver; */
}

/* .segment::-webkit-scrollbar { 
    display: none;  
} */
 ::-webkit-scrollbar {
    width: 0; 
    background: transparent;  
}

.sub-heading {
    font-size: 25px;
    /* border: 1px solid silver; */
    
    width: 100%;
    
}
.product-analyze {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    height: 60%;
    font-size: 17px !important;
}
.product-analyze div {
    border: 1px solid black;
    width: 22%;
    height: 100%;
    border-radius: 15px;
    background-image: url("analyze2.jpg");
    
}
.analyze-name {
    text-align: center;
}
.analyze-figure {
    /* border: 1px solid black; */
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    
}
.summary-head {
    
    width:45%;
}


/* models */
.bar {
    width: 100%;
    background: silver;
    height: 50px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #F1F1FA;
    cursor: pointer;
    font-size: 23px;
}
.bar div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

.none {
    display: none;
}
.productdesc-items {
    border-bottom: 1px solid silver;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    
}


/* Product section */
.visuals {
    
    height: 100%;


}
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: rgb(244, 244, 244);
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid black;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;

}.styled-table thead tr {
    background-color: black;
    color: #ffffff;
    text-align: left;
}