.cart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.items {
    display: grid;
    grid-template-columns: 20% 50% 15% 15%;
    justify-content: center;
    /* align-items:center; */
    width: 60%;
    

}
.first2col {
    grid-column: 1/3;
    /* border: 1px solid red; */
}

.sec2col {
    grid-column: 3/5;
    /* border: 1px solid red; */
}
.head {
    font-size: 35px;
    /* margin: 20px 0; */
    height: 6rem;
}
.item {
    border-bottom: 1px solid silver;
    margin-top:20px ;
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.font {
    font-size: 25px;
    font-weight: 400;
}
.more {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 88%;
    font-size: 20px;
    /* border: 1px solid black; */

}
.controll {
    padding: 0 5px;
    font-size: 25px;
}
.price {
    font-size: 30px;
}

.donate {
    /* border: 1px solid red; */
    width: 20%;
    font-size: 16px;
}



.hisab{
    /* border: 1px solid red; */
    width: 15%;
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(2, 40%);
    font-size: 22px;
}
.map {
    margin-top: 10px;
    width: 20%;
    /* border: 1px solid sienna; */
}
.total {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
}
.shipping {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    width: 100%;
    gap: 20px;
    
}
.options {
    width: 10%;
}
.heading-cart {
    font-size: 25px;
}

.method {
    height: 7rem;
    width: 100%;
    border-bottom: 1px solid silver;
    border-top: 1px solid silver;
}
.cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 8px 0;
}
.card {
    border: 1px solid lightblue;
    border-radius: 12px;
    width: 25%;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form {
    width: 45%;
    position: relative;
    left: 3%;
    display: flex;
    border-top: 1px solid silver;
    
}
.handler {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 66%; 
    /* border: 1px solid green;  */
    height: 90%;
}
.bill {
    padding: 2px;
}