
/* ================================================================================ 
                           < Ammendment By Abdullah > 
*/

.header-category {
    border: 1px solid var(--color-1--);
    height: 2.5rem;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }
  .header-category > #cat-tray {
    display: flex;
    align-items: center;
    width: 95%;
    gap: 50px;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    padding: 0 20px;
  }
  #cat-tray ::-webkit-scrollbar {display: none !important;height: 0 !important; width: 0!important;}
  
  .header-category > #cat-tray > .cat {
    cursor: pointer; 
  }
  
.header-category-mobile {
  border: 1px solid var(--color-1--);
  height: 2.5rem;
  width: 100%;
  overflow: hidden; 
  display: flex;
  justify-content: flex-end;
}
.header-category-mobile #cat-tray-m {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    width: 9rem;
    cursor: pointer;
}
.category-expand {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.cat {
  cursor: pointer;
  padding: 10px;
}
.none {
  display: none !important;
}

@media only screen and (max-width : 501px) {
  .header-category {
    display: none !important;
  }
  .header-category-mobile {
    display: flex !important;
  }
}
  /* 
                            </ Ammendment By Abdullah > 
  
  ================================================================================ */