{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/prodview.css' %}">
    <title>Document</title>
</head>

<body>
    <nav>
        <li class="no-style border" id="menu"> ☰ MENU</li>
        <div class="name">
            <li class="no-style" id="main-name">Viselet</li>
            <div class="flex">
                <li class="no-style">Contact us</li>
                <li class="no-style">🍳</li>
            </div>
        </div>
        <li class="no-style" id="lang">🌐 Lang EN-US</li>
    </nav>

    <ul>
        <div class="nav-bar">
            <li class="no-style" onclick="window.location.href = '/index.html'">Home</li>
            <li class="no-style">About</li>
            <li class="no-style">Tracker</li>
            <li class="no-style" style="color: #2f4f4E;">Cateogaries</li>
            <li class="no-style"  onclick="window.location.href = '/cart.html'">Cart</li>
        </div>
        <div class="button" style="color: #FEA500;">
            Sign up
        </div>
    </ul>
    <div style="height: 5rem;"></div>
    <section class="product">
        <div class="imgs">
            <div class="img">
                <img src="shirt.png" alt="" width="350">
            </div>
            <div class="more" style="display: flex; justify-content: center; align-items: center;">
                <img src="https://cdn3.iconfinder.com/data/icons/metro-arts/512/backward-512.png" alt="" width="60">
                <!-- <img src="https://media.istockphoto.com/id/1255047767/photo/colorful-polo-t-shirt-stack-on-shelf-in-large-department-store-shop-copy-space-on-white-sign.jpg?s=612x612&w=is&k=20&c=uxi8TulTVGSvMlV2GLYchr3Qe3tKvvkZ-CwitJ7fd-o=" alt="" width="60"> -->
            </div>
            <div class="more">
                <img src="shoes.png" alt="" width="100">
            </div>
            <div class="more">
                <img src="others.png" alt="" width="100">
            </div>
            <div class="more">
                <img src="woman.png" alt="" width="90">
            </div>
            <div class="more" style="display: flex; justify-content: center; align-items: center;">
                <img src="https://image.freepik.com/free-icon/fast-forward-arrowhead-symbol_318-43800.jpg" alt=""
                    width="60">

            </div>
        </div>
        <div class="detail">
            <div>
                <h1 class="f45">Nike h11 cotton shirt and portable storage and high quality -easy iron</h1>
                <div class="controls" style="font-size: 25px;">
                    <div class="rating">⭐⭐⭐⭐⭐ 81 rating</div>
                    <div class="icon">
                        <div class="atc">🛒</div>
                        <div class="atc">✉️</div>
                    </div>
                </div>
            </div>
            <div>
                <div class="price" style="font-size: 35px; color: #2f4f4E;">$40 <strike
                        style="font-size: 25px;">$60</strike></div>
                <div style="display:flex; gap: 15px;">
                    <button class="voc">Apply Voucher</button>
                    <button class="voc">Add to cart</button>
                    <button class="voc">Buy now</button>
                </div>
            </div>
            <div>
                <p class='color'><b>Available Color(S)</b></p>
                <div class="colors">
                    <div style="background: #000;"></div>
                    <div style="background: red;"></div>
                    <div style="background: blue;">✔️</div>
                    <div style="background: pink;"></div>
                    <div style="background: #FEA500;"></div>
                </div>
            </div>
            <div>
                <div class="quantity" style="gap:20px">
                    <p class="color"><b>quantity</b></p>
                    <!-- <small>(Only 3 items left in stock)</small> -->
                </div>
                <div class="">
                    <div class="quantity">
                        <button class="q">+</button>
                        <p style="margin: 0 10px;">1</p>
                        <button class="q">-</button>
                    </div>
                </div>
            </div>
            <div class="extras">
                <div>
                    <div class="bot-buttons"> <p>Description</p> <p>⚫</p> </div>
                    <div class="bot-buttons"> <p>Ask any Question</p> <p>⚫</p> </div>
                </div>
                <div>
                    <div class="bot-buttons"> <p>Reviews</p> <p>⚫</p> </div>
                    <div class="bot-buttons"> <p>Shipping Details</p> <p>⚫</p> </div>
                </div>
            </div>


        </div>
    </section>
    <section class="product-desc">
        <div class="h">Description</div>
        <div class="h"></div>
        <div class="h">Popular Searches</div>
        <div class="description-reviews">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis architecto
            labore corporis itaque, rerum, temporibus illum dolorem quam delectus eaque ipsa culpa voluptatem natus in
            illo quas nisi, blanditiis fuga fugiat? Atque voluptatum, aspernatur quas ipsa cupiditate harum saepe.
            Distinctio voluptate nam porro cumque eveniet ducimus quisquam sed itaque fugiat nesciunt. Laudantium iure
            est quibusdam necessitatibus. Rem, accusantium mollitia. Vitae magni ad ut. A reprehenderit corrupti omnis
            est nobis nihil ratione ipsum excepturi dolorum dignissimos quia in asperiores rerum praesentium libero,
            reiciendis eligendi voluptas voluptatibus delectus quaerat eos hic quas perferendis. Nobis impedit fugiat,
            dolor sunt iure natus voluptate quis earum at ut sit labore cumque blanditiis nisi doloremque id sapiente
            accusamus sequi delectus officia? Hic exercitationem ad blanditiis laudantium.</div>
        <div class="searches">
            <p>Man's watch platinum</p>
            <p>Golden bracelet with emerald</p>
            <p>Woman's top and leggings</p>
            <p>Plain office white shirt</p>
            <p>casual shoes</p>
        </div>

    </section>

    <div style="height: 2rem;"></div>

    <section class="reviews">
        <div class="r-heading h">Reviews</div>
        <div class="h">Service</div>
        <div class="figure l1">
            <p class="reviews-number">4.2</p>
            <p>★★★★☆</p>
            <small>Average rating</small>
        </div>
        <div class="graphical l1">
            <div class="bar">
                <div style="width: 90%; height:100%; background-color: #2f4f4E;"></div>
            </div>
            <div class="bar">
                <div style="width: 85%; height:100%; background-color:  #2f4f4E;"></div>
            </div>
            <div class="bar">
                <div style="width: 60%; height:100%; background-color:  #2f4f4E;"></div>
            </div>
            <div class="bar">
                <div style="width: 40%; height:100%; background-color:  #2f4f4E;"></div>
            </div>
            <div class="bar">
                <div style="width: 19%; height:100%; background-color:  #2f4f4E;;"></div>
            </div>

        </div>
        <div class="l1" style="font-size: 20px;">
            <p>Warranty unavailable</p> 
            <p>7 days return</p> 
            <p>Change of mind is inapplicable</p> 
            
            
        </div>
    </section>
    <div style="height: 4rem;"></div>

    <section class="textim">
        <div class="profile">
            <div><img src="profile.png" alt="" width="100"></div>
            <div class="profile-name">
                <p><small> 8h ago</small></p>
                <p style="font-size: 35px;">Azfar</p>
                <div style="display: flex; justify-content: space-between; width:75%; ">
                    <p>report</p>
                    <p>👍👎</p>
                </div>

            </div>
        </div>
        <div class="text">
            <p>★★★★☆</p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem ut suscipit neque quaerat dolorum? Accusamus
            officiis, exercitationem architecto earum corrupti perferendis.
        </div>
        <div class="profile">
            <div><img src="profile.png" alt="" width="100"></div>
            <div class="profile-name">
                <p><small> 8h ago</small></p>
                <p style="font-size: 35px;">muntaha</p>
                <div style="display: flex; justify-content: space-between; width:75%; ">
                    <p>report</p>
                    <p>👍👎</p>
                </div>

            </div>
        </div>
        <div class="text">
            <p>★★★☆☆</p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem ut suscipit neque quaerat dolorum? Accusamus
            officiis, exercitationem architecto earum corrupti perferendis.
        </div>
        <div class="profile">
            <div><img src="profile.png" alt="" width="100"></div>
            <div class="profile-name">
                <p><small> 8h ago</small></p>
                <p style="font-size: 35px;">ghaffar</p>
                <div style="display: flex; justify-content: space-between; width:75%; ">
                    <p>report</p>
                    <p>👍👎</p>
                </div>

            </div>
        </div>
        <div class="text">
            <p>★★★☆☆</p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem ut suscipit neque quaerat dolorum? Accusamus
            officiis, exercitationem architecto earum corrupti perferendis.
        </div>
        <div class="profile">
            <div><img src="profile.png" alt="" width="100"></div>
            <div class="profile-name">
                <p><small> 8h ago</small></p>
                <p style="font-size: 35px;">Ali Rizvi</p>
                <div style="display: flex; justify-content: space-between; width:75%; ">
                    <p>report</p>
                    <p>👍👎</p>
                </div>

            </div>
        </div>
        <div class="text">
            <p>★★☆☆☆</p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem ut suscipit neque quaerat dolorum? Accusamus
            officiis, exercitationem architecto earum corrupti perferendis.
        </div>
        

    </section>
    <div style="height: 4rem;"></div>
    <section>
        <div class="h">Shipping</div>

    </section>



</body>

</html>