{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/checkout.css' %}" />
    <title>Checkout | Pehnava</title>
</head>
<body>
    
    <main>
        <section class="information">
            <div class="info-head">
                <h5 type="button" onclick="location.href='..'" class="logo">Pehnava</h5>
                <!-- <span class="links">
                    <a href="">Order</a>
                    >
                    <a href="">Information</a>
                    >
                    <a href="">Payment</a>
                </span> -->
            </div>
            <form action="/checkout/" class="info-form" method="post">
                {% csrf_token %}
                
                <h6 class="form-head">Contact Information</h6>
                {% for field in form %}


                {% if field.name == 'html_id'%}    
                <input type="hidden" placeholder="{{field.name.upper}}" name="form-{{field.name}}" />
                {% elif field.name == 'cart'%}
                <input type="hidden" placeholder="{{field.name.upper}}" name="{{field.name}}" id="acutal_cart"/>
                {% else %}
              

                {% if field.name == 'payment' %}
                <h6 class="form-head">Payment Method</h6>
                <label for="form-cod" class="radio-label">
                    <input required type="radio" name="{{field.name}}" checked>
                    Cash On Delivery (COD)
                </label>
            
                {% elif field.name == 'delivery' %}
                <h6 class="form-head">Delivery Method</h6>
                <label for="form-std-del" class="radio-label">
                    <input required type="radio" checked name="{{field.name}}">
                    Standard Delivery
                </label>
                {% elif field.name == 'firstname' %}
                <h6 class="form-head">Shipping Address</h6>
                <label for="form-{{field.name}}">{{field.name.capitalize}}</label>
                <input required type="{{field.name}}" placeholder="{{field.name.capitalize}}" name="{{field.name}}" >

                {% else %}
                <label for="form-{{field.name}}">{{field.name.capitalize}}</label>
                <input required type="{{field.name}}" placeholder="{{field.name.capitalize}}" name="{{field.name}}" >
                
                {% endif %}
                {% endif %}

                
                {% endfor %}
                <button type="submit">Place order!</button>
            
            </form>  
            {% comment %} <form action="" class="info-form">

                <label for="form-email">Email</label>
                <input type="email" placeholder="Email" name="form-email" required>
                <label for="form-phone">Phone</label>
                <input type="tel" placeholder="Phone" required>

                <h6 class="form-head">Shipping Address</h6>
                <label for="form-fname">First Name</label>
                <input type="text" name="form-fname" placeholder="First Name" required>
                <label for="form-lname">Last Name</label>
                <input type="text" name="form-lname" placeholder="Last Name" required>
                <label for="form-address">Address</label>
                <input type="text" name="form-address"  placeholder="Address" required>
                <label for="form-town">Town</label>
                <input type="text" name="form-town"  placeholder="Address" required>
                <label for="form-city">City</label>
                <input type="text" name="form-city" placeholder="City" required>
                <h6 class="form-head">Delivery Method</h6>
                <label for="form-std-del" class="radio-label">
                    <input type="radio" checked name="form-std-del">
                    Standard Delivery
                </label>
                <h6 class="form-head">Payment Method</h6>
                <label for="form-cod" class="radio-label">
                    <input type="radio" name="form-cod" checked>
                    Cash On Delivery (COD)
                </label>
                <button type="submit">Place order!</button>
            </form>  {% endcomment %}
            
        </section>

        <section class="purchases" id="cartSection">
            
        </section>

    </main>

</body>
{% block script %}
<script src="{% static 'js/checkout.js' %}"></script>
<script src="{% static 'js/cart.js' %}"></script>
{% endblock script %}
</html>
