{% extends 'base.html' %}
{% load static %} 
{% load tag %}

{% block title %}{{product.name}} | Pehnava{% endblock title %} 


{% block news %}
<div class="navBar-top">

    {{news}}
</div>
{% endblock news %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/product.css' %}" />
<link rel="stylesheet" href="{% static 'css/index.css' %}" />
<link rel="stylesheet" href="{% static 'css/cat.css' %}" />
{% endblock head %} 

{% block cat %}
<div class="header-category">
    <div id="cat-tray">
        {% for Cat in category %}
        <div class="cat" onclick="location.href = '/search/?-search={{Cat}}-c'">{{Cat}}</div>
        {% endfor %} 
        {% for Cat in category %}
        <div class="cat" onclick="location.href = '/search/?-search={{Cat}}-c'">{{Cat}}</div>
        {% endfor %} 
        
    </div>

</div>
<div class="header-category-mobile none">
    <div id="cat-tray-m">
        <div class="material-symbols-outlined">menu</div>
        <div class="categoryName">Categories</div>
    </div>
</div>

<div class="category-expand none" id="expandable">
    {% for Cat in category %}
        <div class="cat" onclick="location.href = '/search/?-search={{Cat}}-c'">{{Cat}}</div>
    {% endfor %} 
    {% for Cat in category %}
        <div class="cat" onclick="location.href = '/search/?-search={{Cat}}-c'">{{Cat}}</div>
    {% endfor %} 
</div>
{% endblock cat %}

{% block main %}

<!-- Product Imagery -->

<section class="prodView">
    <div class="product-image">
        <div class="images" id="small-images-container">
            
            <img src="{{product.img}}" alt="" class="small-image">
            {% for img in images %}
            <img src="{{img.url}}" alt="" class="small-image">
            
            {% endfor %}
        </div>
        
        <div id="lens" ></div>
        <img src="{{product.img}}" alt="" class="main-img" id="main-img">
    </div>
    

    <div id="product-desc">
        <h5 class="prod-name" id="pr-name">{{product.name}}</h5>
        <p class="prod-cat">New Arrival</p>
        {% if product.qty > 10 %}
        <p class="prod-stock">&#10003; In Stock <span style="display: hidden !important;" id="pr-qty">{{product.qty}}</span></p>
        
        {% else %}
        <p class="prod-stock" style="color:red"> <span  id="pr-qty">{{product.qty}}</span> left</p>
        {% endif %}
        <p class="prod-price">PKR <span id="pr-price">{{product.price}}</span></p>
        <hr>
        <span class="prod-btns">
            <span class="prod-quantity" id='--i--'>
                <button id="qty-sub" class="animatedButton">-</button>
                <p id="prod-qty">1</p> 
                <button id="qty-add" class="animatedButton">+</button>
            </span>
            <button class="atc" id="moveToCheckout" onclick="proceed()">Order Now</button>
        </span>
        <div class="prod-details" id="prod-details-pc">
            <span class="details-top">
                <h5 class="details-head current-detail" id="prod-det">Product Details</h5>
                <h5 class="details-head" id="prod-det-ship">Shipping and Return</h5>
                {% if product.cat == 'unstitched' %}
                <h5 class="details-head" id="prod-det-care">Size Chart</h5>
                {% else %}
                <h5 class="details-head" id="prod-det-care">Care Instructions</h5>
                {% endif %}
            </span>
            <span class="details" id="details--1">
                
                {{product.desc|safe}}
            </span>
        </div>
        <div class="prod-details" id="prod-details-mob">
            <span class="details-top">
                <h5 class="details-head current-detail">Product Details</h5>
            </span>
            <span class="details" id="details--1">
                
                {{product.desc|safe}}
            </span>
            <span class="details-top">
                <h5 class="details-head">Shipping and Return</h5>
            </span>
            <span class="details" id="details--1">
                
                {{product.desc|safe}}
            </span>
            <span class="details-top">
                {% if product.cat == 'unstitched' %}
                    <h5 class="details-head">Size Chart</h5>
                {% else %}
                    <h5 class="details-head">Care Instructions</h5>
                {% endif %}
            </span>
            <span class="details" id="details--1">
                <ul style="margin-bottom: 10px; display: flex; flex-direction: column; gap: 8px; list-style: none;">
                    <li>Wash your clothes less.</li>
                    <li>Wash everything on delicate or hand wash.</li>
                    <li>Wash everything on cold.</li>
                    <li>Hang dry delicate items.</li>
                    <li>Store your clothes properly.</li>
                </ul>
            </span>
        </div>
    </div>
</section>


<!-- Top Products -->

<section class="topProds">
    <h1 class="topProds-head" id="suggested"></h1>
    <div class="prod-container">
        <div class="slider" id="suggested-slider">

            {% for suggestion in suggestions %}
            <a class="product" href="/product/{{suggestion.raw_slug}}">
                <img src="{{suggestion.img}}" alt="" class="prod-img">
                <img src="{{s_images|parseRandom:suggestion.name}}" alt="" class="prod-img-b">
                <p class="prod-tag" style="background-color: {{suggestion.tag_color}}">{{suggestion.tag}}</p>
                <div class="prod-desc">
                    <h6 class="prod-name">{{suggestion.name}}</h6>
                    <p class="prod-price">Rs. {{suggestion.price}}/-</p>
                </div>
            </a>
            {% endfor %}
            
            
        </div>
        <button class="prev-btn" id="product-slider-p"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path d="M15.293 3.293 6.586 12l8.707 8.707 1.414-1.414L9.414 12l7.293-7.293-1.414-1.414z"/></svg></button>
        <button class="next-btn" id="product-slider-n"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path d="M7.293 4.707 14.586 12l-7.293 7.293 1.414 1.414L17.414 12 8.707 3.293 7.293 4.707z"/></svg></button>
    </div>
</section>



{% endblock main %}




{% block script %}
<script src="{% static 'js/product.js' %}"></script>
<script src="{% static 'js/cart.js' %}"></script>
<script src="{% static 'js/category.js' %}"></script>
{% endblock script %}
