{% extends 'base.html' %}
{% load static %} 
{% load tag %}

{% block title %}Search results for - Kurti for women{% endblock title %} 

{% block head %}
<link rel="stylesheet" href="{% static 'css/search.css' %}" />
<link rel="stylesheet" href="{% static 'css/cat.css' %}" />

{% endblock head %}


{% block news %}
<div class="navBar-top">
    <p class="navBar-news">Free shipping on all orders above PKR 2000</p>
    {{news}}
</div>
{% endblock news %}

{% block cat %}
<div class="header-category">
    <div id="cat-tray">
        {% for Cat in category %}
        <div class="cat" onclick="location.href = '/search/?-search={{Cat}}-c'">{{Cat}}</div>
        {% endfor %} 
        
    </div>

</div>
<div class="header-category-mobile none">
    <div id="cat-tray-m">
        <div class="material-symbols-outlined">menu</div>
        <div class="categoryName">Categories</div>
    </div>
</div>

<div class="category-expand none" id="expandable">
    {% for Cat in category %}
        <div class="cat" onclick="location.href = '/search/?-search={{Cat}}-c'">{{Cat}}</div>
    {% endfor %} 
    {% for Cat in category %}
        <div class="cat" onclick="location.href = '/search/?-search={{Cat}}-c'">{{Cat}}</div>
    {% endfor %} 
</div>
{% endblock cat %}


{% block main %}

<section class="results">
    {% if isACategory %}
        {% if total > 0 %}
        <h5 class="results-head">{{total}} Results for Category: "{{keyword}}"</h5>
        {% else %}
        <h5 class="results-head">Oops! Apparently no Products available in Category: "{{keyword}}"</h5>
        {% endif %}
    {% else %}
        {% if total > 0 %}
        <h5 class="results-head">{{total}} Search Results for : "{{keyword}}"</h5>
        {% else %}
        <h5 class="results-head">No Products found named "{{keyword}}"</h5>

        {% endif %}
    {% endif %}
    
    <div class="results-prods">
        {% for result in results %}
        <a class="product" href="/product/{{result.raw_slug}}">
            <img src="{{result.img}}" alt="" class="prod-img">
            <img src="{{imgs|parseRandom:result.name}}" alt="" class="prod-img-b">
            <p class="prod-tag" style="background-color: {{result.tag_color}};">{{result.tag}}</p>
            <div class="prod-desc">
                <h6 class="prod-name">{{result.name}}</h6>
                <p class="prod-price">Rs. {{result.price}}/-</p>
            </div>
        </a>
        {% endfor %}
        
    </div>
</section>

{% endblock main %}
{% block script %}
<script src="{% static 'js/category.js' %}"></script>
<script src="{% static 'js/base.js' %}"></script>
{% endblock script    %}

